<nav class="site-nav">
    <ul class="nav-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
    
    {{/*  <div class="social-links">
        {{ range .Site.Params.social }}
        <a href="{{ .url }}" class="social-link" target="_blank" rel="noopener">
            <span class="social-icon">{{ if eq .icon "wechat" }}微信{{ else if eq .icon "instagram" }}小红书{{ else }}{{ .icon }}{{ end }}</span>
        </a>
        {{ end }}
    </div>  */}}
</nav>