name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"] # 如果你的主分支叫 master，请修改此处

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # 如果你用了 Git 子模块主题，这行很重要

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true # 建议开启，很多主题需要 extended 版本

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
